# Исследуем временные ряды продаж товаров
В этом задании предлагается проанализировать датасет продаж различных товаров и попрактиковаться в использовании различных библиотек для временных рядов(и не только)

# 0. Загрузка данных(1 балл)

Посмотрим на датасет, с которым будем работать в этом задании

**Какой это тип временных рядов? (univariate/multivariate/....)**

<Ответ>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_products = pd.read_csv("dataset/products.csv", index_col=0)
df_products.head()

,product_10,product_11,product_12,product_13,product_14,product_15,product_16,product_17,product_18,product_19,...,product_30,product_31,product_32,product_33,product_34,product_35,product_36,product_37,product_38,product_39
2016-01-01,2616.3,3548.8,3898.3,2173.9,845.82,1600.8,3019.2,488.03,2924.9,575.77,...,2394.3,1284.2,1996.5,3888.6,951.88,434.17,2313.1,1946.3,2045.0,2440.3
2016-01-02,2507.9,3666.3,3987.2,2309.4,835.09,1589.1,2982.1,993.10,2567.3,597.55,...,2335.8,1265.1,2079.5,3793.9,1112.00,429.92,2242.9,2064.1,2076.4,2304.4
2016-01-03,2548.7,3593.0,3955.7,2365.1,828.74,1527.7,3356.4,508.29,3080.3,595.60,...,2389.3,1256.0,2054.2,3937.5,1100.40,451.81,2500.4,1884.0,1906.3,2244.8
2016-01-04,2492.4,3432.9,4024.1,2286.7,802.93,1614.8,2352.6,473.96,3042.9,597.33,...,2418.8,1215.5,2095.5,4274.6,1081.20,448.80,2543.8,1834.8,1935.1,2255.8
2016-01-05,2707.5,3661.1,4041.6,2293.0,819.55,1584.4,2529.2,630.37,3094.1,571.56,...,2464.4,1197.6,2292.7,3897.3,1039.00,441.35,2261.1,2039.7,1762.8,2367.5

Выберите для анализа 5 случайных рядов

In [3]:
# Your code here

# 1. Нарисуем картнку(2 балла)

Для работы с временными рядами существует десяток фрэймворков, каждый из которых имеет свой интерфейс для загрузки данных

Попробуйте загрузить данные в базовые контейнеры для 2 фрэймворков и отрисовать ряды в датасете

**Вопросы по картинкам:**
<ol>
    <li>Есть ли в данных явно выраженные тренды?</li>
    <li>Есть ли в данных сезонность?
</ol>

<Ответы>

## 1.1 Darts (1 балл)
https://unit8co.github.io/darts/generated_api/darts.timeseries.html#darts.timeseries.TimeSeries

In [4]:
from darts import TimeSeries

In [5]:
# Your code here

## 1.2 ETNA (1 балл)

https://docs.etna.ai/stable/tutorials/101-get_started.html

In [6]:
from etna.datasets import TSDataset

/Users/a.p.chikov/Library/Caches/pypoetry/virtualenvs/etna-utils-oAYYUtN9-py3.8/lib/python3.8/site-packages/etna/settings.py:37: UserWarning: etna[torch] is not available, to install it, run `pip install etna[torch]`
  warnings.warn("etna[torch] is not available, to install it, run `pip install etna[torch]`")

In [7]:
# Your code here

# 2. Разложение на компоненты (2 балла)

Временной ряд можно представить в виде некоторого разложения на компоненты(тренд, сезонность, ошбки, ...). Такие компоненты, например, можно выделять с помощью моделей прогнозирования, которые моделируют ряд как раз с использованием этих самых компонент

На следующей лекции вы познакомитесь с одной из таких моделей  -- **Prophet**. 

Предлагается попробовать построить разложение на компоненты, используя базовый туториал 

https://facebook.github.io/prophet/docs/quick_start.html#python-api

**Какие выводы можно сделать из картинок?**

<Ответ>

In [8]:
from prophet import Prophet

Примедите данные в нужный формат(колонки ds и y) -- выберите произвольный ряд из данных(например product_11)

In [9]:
# Your code here

Обучите модель

In [10]:
# Your code here

Постойте предсказания на train

In [11]:
# Your code here

Постройте разложения на компоненты с помощью `plot_components`

In [12]:
# Your code here

# 3. Seasonal plot(2 балла)

На семинаре мы строили seasonal plot руками, теперь предлагается воспольоваться готовыми методами из фрэймворка

Постройте картинку для нескольких рядов

**Какие выводы можно сделать из картинок?**
1. Действительно ли есть годовая сезонность?
2. Различается ли паттерн сезонности между рядами?
3. Меняется ли паттерн с годами?

<Ответ>

In [13]:
from etna.analysis import seasonal_plot

Постройте seasonal plot для **дневной частотности** и **годовой сезонности**

In [14]:
# Your code here

Постройте seasonal plot для **недельной частотности** и **годовой сезонности** -- кажется данные немного шумные, давайте понизим частотность

In [15]:
# Your code here

# 5. Праздники(1 балл)

На лекции мы немного коснулись важности анализа аномалий в датасете. Часть аномалий на самом деле не аномалии, а изменения поведения, связанные с некоторыми событиями -- например с праздниками

Попробуйте выделить праздничные периоды на картинке

**Есть ли влияние праздников на продажи товаров?**

<Ответ>

In [16]:
from etna.analysis import plot_holidays

In [17]:
# Your code here

# 6. AutoEDA(2 балла)

Попробуйте построить автоматический отчет об особенностях данных(да да, и такие библиотеки есть)

https://github.com/ydataai/ydata-profiling/tree/develop

**Какие выводы можно сделать из отчета?**

<Ответ>

In [18]:
from ydata_profiling import ProfileReport

In [19]:
# Your code here